DATABASE_URL="postgresql://mealplanner:mealplanner@localhost:5466/mealplanner?schema=public"
SESSION_SECRET="5h7uf85Z9PB7SvIvsjP19EdVbaSHbn2A"
NOTION_API_TOKEN="secret_xxx"
NOTION_INGREDIENTS_DATABASE_ID="notion_ingredients_database_id"
NOTION_RECIPES_DATABASE_ID="notion_recipes_database_id"
